main{
    margin: 0 auto;
    width: 1000px;
    
}

.picture{
    width: 300px;
    height: auto;
    margin: 0 auto;
}
.resume{
    width: 1000px;
    font-style: normal;
    font-size: 20px;
    line-height: 2;
    font-family: "Arial", sans-serif;
    text-align: center;
    color: #131212;
    white-space: pre;
}
position: relative;

position: absolute;
height: 100px;
top: 0;
bottom: 0;
margin auto 0;


    width: 300px;
    height: 200px;
    position: relative;
    margin: 0 auto; 